__pycache__/
*.pyc
.venv/
data/*.duckdb
data/*.duckdb.wal
data/cache/
data/raw/*.csv
data/raw/*.json
models/*.h5
models/*.keras
reports/figures/*.png
.env
.DS_Store
.ipynb_checkpoints/
reports/*.html
data/*.log
